# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"
a=s.split()
print(a)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [2]:
planet = "Earth"
diameter = 12742
txt="The diameter of {} is {} kilometers".format(planet,diameter)
print(txt)

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
a=d['k1'][3]['tricky'][3]['target'][3]
print(a)

hello

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [4]:
import numpy as np
array=np.zeros(10)
print(array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [9]:
import numpy as np
array=np.ones(10)
print(array)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

## 5. Create an array of all the even integers from 20 to 35

In [6]:
import numpy as np
array=np.arange(20,35,6)
print(array)

[20 26 32]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [7]:
import numpy as np
matrix=np.arange(0,9).reshape(3,3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [10]:
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
con=np.concatenate([a,b])
print(con)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [11]:
import pandas as pd
data=[['Vishwa',20],['Abi',15],['Kavish',10]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0  Vishwa   20
1     Abi   15
2  Kavish   10

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [13]:
import pandas as pd
date=pd.date_range(start='01-01-2023',end='02-10-2023')
print(date)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [14]:
import pandas as pd
lists=[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]
df=pd.DataFrame(lists,columns=['SI.NO','Name','number'])
print(df)

   SI.NO Name  number
0      1  aaa      22
1      2  bbb      25
2      3  ccc      24